 body{
        font-family: Arial, sans-serif;
        background:#e7d0d0;
        padding:100px 100px 100px 100px;
        text-align:center;
    }

    .container{
        display:flex;
        justify-content:center;
        gap:40px;
    }

    .card{
        background:rgb(223, 233, 247);
        width:260px;
        padding:25px;
        border-style: dashed;
        border-radius:10px;
        text-align:center;
    }

    .title{
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
    }

    .price{
        font-size:32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight:bold;
        margin-bottom:10px;
    }

    .content{
        list-style: none;
        padding:10px 10px 10px 10px;
        margin:20px 0;
        text-align:center;
        font-size: 16px;
    
    }.content li{
        margin: 20px 20px 20px 20px;
    }
    button{
        padding:10px 20px;
        background:#130641;
        color:white;
        border-radius:5px;
        border-style: groove;
        cursor:pointer;
        font-size:16px;
    }